.employees-content {
    margin-left: 1%;
    width: 98%;
}

.employees-email-icon {
    width: 24px;
}

#employees-modal-button {
    height: 40px;
    width: 200px;
    margin-left: calc(100% - 200px);
}

.employees-table {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    table tr:hover td {
        cursor: pointer;
        transition: all 0.5s;
    }
}