.employees-email-icon {
    width: 24px;
}

#employees-modal-button {
    height: 40px;
    width: 150px;
    margin-left: calc(100% - 150px);
}

#cancel-invitation-btn {
    & > span  {
        font-size: initial;
        text-decoration-line: underline;
    }
    color: #266494;
    &:hover {
        color: #3A79AA;
    }
}

.employees-table {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}