.sider-container {
    min-width: 270px!important;
    flex: 0 0 270px!important;
    max-width: 270px!important;
    width: 270px!important;
    font-size: 16px!important;
    left: 0px;
    top: 0px;
    background: url('../images/sider.jpg');
    transition: all 0s;
}
.ant-menu {
    transition: all 0s;
}
.sider-container {
    div {
        opacity: 0.9;
    }
}
.ant-layout-sider-collapsed {
    min-width: 100px!important;
    flex: 0 0 100px!important;
    max-width: 100px!important;
    width: 100px!important;
    font-size: 16px!important;
}
.ant-layout-sider{
    background-color: #266494;
}
.ant-menu-inline-collapsed {
    min-width: 100px!important;
    flex: 0 0 100px!important;
    max-width: 100px!important;
    width: 100px!important;
    font-size: 16px!important;
}
.sider-container_collapse-btn {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: #266494;
    margin-left: 40px;
    justify-content: center;
}

.sider-container_collapse-btn:focus-within {
    background-color: #266494;
}
.sider-container_collapse-btn:hover {
    border-radius: 50%;
    background: rgba(16, 39, 57, 0.77);
}

