#SMForm_submit {
    height: 40px;
    margin-left: 25%;
    width: 50%;
    & > span {
        font-size: large;
    }
}

#SMForm_forgot-password {
    float: right;
    & > span  {
        font-size: initial;
        text-decoration-line: underline;
    }
    color: #266494;
    &:hover {
        color: #3A79AA;
    }
}

.sm-footer {
    height: 64px;
    margin-bottom: 0;
    text-align: center;
    background: transparent;
}

#sm-footer-btn {
    color: #266494;
    &:hover {
        color: #3A79AA ;
    }
    & > span  {
        font-size: initial;
        text-decoration-line: underline;
    }
}