.login {
    height: 100vh;
}

.ant-layout-header {
    background: #266494;
    color: #fff;
}

.login-logo {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10%;
}

.login-content {
    height: 100%;
    background: linear-gradient(178.21deg, #FFFFFF 0.65%, #D3DFEB 61.03%, #6AAFCC 107.91%, #2067A5 107.92%, #8CADCC 107.93%, #8EA9B5 107.95%, rgba(112, 178, 206, 0.994398) 107.96%);
    backdrop-filter: blur(4px);
}

.login-row-1 {
    margin-top: 5%;
}

.ant-alert-error {
    margin-top: 10%;
}

.login-form {
    margin-top: 10%;
}

.login-form-container {
    padding: 10%;
    background-color: #fff;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-form, .login-form-container {
    left: 0px;
    top: 0px;
    border-radius: 10px;
}

.ant-input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#SMForm_submit {
    margin-left: 25%;
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #266494 ;
    border-color: #266494 ;
    &:hover {
        background-color:  #3A79AA ;
        border-color: #3A79AA ;
    }
}

.forgot-password-btn {
    float: right;
    color: #266494;
    &:hover {
        color: #3A79AA !important;
    }
}