.ant-dropdown-link {
    border: none;
    box-shadow: none;
    padding: 0;
}

.sm-layout-container {
    .sm-layout-container_header {
        background: white;
        padding: 0;
        .sider-container_search-btn {
            input {
                padding-left: 30px;
                border: none;
                box-shadow: none;
                margin-left: 15px;
            }
        }
        .layout-container_page-header {
            border: none;
            position: absolute;
            right: 0;
            height: 64px;
            z-index: 2;
        }
    }
}

.layout-container_page-header.ant-page-header-ghost {
    border: none!important;
    display: flex;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-vertical {
    position: absolute;
    right: 15px;
}