.sm-menu-container_parent-title {
    display: inline-block;
    margin-top: 7px;
}
.sm-menu-container_title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-left: 15px;
    color: white;
}

.sm-menu-container_title:first-child {
    margin-left: 1px;
}