.sider-container {
    .sm-menu-container, .sm-menu-container_collapsed-mode {

        height: 100%;
        background-color: #266494;

        .sm-menu-container_item {
            height: 50px;
            display: flex;
            padding-left: 25px !important;
        }

        .sm-menu-container_item:not(:first-child) {
            margin-left: 10px;
            border-radius: 10px;
            transition: width 0.5s;
            margin-bottom: 10px;
        }

        .ant-menu-item-selected:first-child {
            background: none;
        }

        .sm-menu-container_item:not(:first-child):hover {
            border-radius: 10px;
            background-color: rgba(16, 39, 57, 0.27);
        }

        .ant-menu-item-selected:not(:first-child),
        .ant-menu-item-selected:not(:first-child):hover {
            background-color: rgba(16, 39, 57, 0.50);
        }

        .sm-menu-container_item > i  {
            height: 45px;
            width: 40px;
        }

        .sm-menu-container_item > svg  {
            height: 40px;
            width: 40px;
            margin-top: 10px;
        }

        .sm-menu-container_home {
            margin-top: 10px;
            font-size: 30px;
            color: white;
            font-weight: bold;
        }

        .sm-menu-container_home {
            span {
                font-size: 24px;
                font-weight: bold;
                margin-left: 30px;
            }
        }

        .sm-menu-container_summary {
            margin-top: 60px;
        }
    }
}


.sider-container {
    .sm-menu-container_collapsed-mode {

        width: 100px;
        transition: 5s;

        .sm-menu-container_item:not(:first-child) {
            width: 80px;
        }

        .sm-menu-container_title {
            opacity: 0;
        }
    }
}

.sider-container {
    .sm-menu-container {
        .sm-menu-container_item:not(:first-child) {
            width: 280px;
        }

        .sm-menu-container_title {
            opacity: 1;
        }
    }
}
