@import '../variables';

.employees-content {
    .employees_send-invitation-container {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: $sm-components-distance;
        width: $sm-component-width;
    }
}