@import '../variables';

.home-content {

}

.skills-table-header {
    /* TODO: Moved to sm-table styles */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .sm-button {
        cursor: not-allowed;
        opacity: 0.5;
    }
}