.main_container_people_finder {
    min-height: calc(100vh - 70vh);
    max-height: calc(100vh - 100px);
    padding: 30px;
    background: #fff;
    overflow: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-out;
    position: relative;
    margin-bottom: 20px;
    button:not(.delBtn):not(#people_finder_btn){
        width: 100%;
    }
    .ant-form-item-control {
        line-height: 1.5;
    }
    .header_container {
        margin-bottom: 10px;
        div[class*="ant-col-"]:not(.del_btn_right){
            margin-right: 10px;
        }
    }
    .ant-form-horizontal {
        padding: 10px;
        border: 1px solid #2764944a;
        border-radius: 10px;
        .ant-row.rule-rows {
            background: #fff;
            border-radius: 5px;
            padding: 8px 20px 8px 0px;
            margin-left: 40px;
            margin-right: -5px;
            margin-bottom: 10px;
            box-shadow: 0px 0px 2px 0px #27649494;
            display: flex;
            position: relative;
            margin-top: 8px;
            div[class*="ant-col-"]{
                padding: 0 8px;
            }

            &::before, &::after {
                content: "";
                position: absolute;
                left: -10px;
                width: 10px;
                border-color: #276494;
                border-style: solid;
                box-sizing: border-box;
                border-width: 0 0 2px 2px;
            }
        }
        .ant-row.group-rows {
            padding: 8px 20px 8px 0px;
            margin-left: 40px;
            background: #fff;
            box-shadow: 0px 0px 2px 0px #27649494;
            border-radius: 5px;
            margin-bottom: 10px;
            .header_container{
                padding-left: 8px;
            }
            .ant-row.rule-rows {
                margin-left: 40px;
            }

            &::before, &::after {
                content: "";
                position: absolute;
                left: -10px;
                width: 10px;
                border-color: #276494;
                border-style: solid;
                box-sizing: border-box;
                border-width: 0 0 2px 2px;
            }
        }

        .group-rows:before {
            display: flex;
            top: -10px;
            height: calc(50% + 10px);
        }

        .rule-rows:before {
            display: flex;
            top: -19px;
            height: calc(50% + 19px);
        }

        .ant-row > .rule-rows::after, .group-rows::after {
            display: flex;
            top: 50%;
            border-width: 0 0 0 2px !important;
            height: calc(50% + 8px);
        }

        .ant-form-item-children .group--children > .group-rows:last-child::before,
        .ant-form-item-children .group--children > .rule-rows:last-child::before {
            border-radius: 0 0 0 5px;
        }

        .ant-form-item-children .group--children > .group-rows:last-child::after,
        .ant-form-item-children .group--children > .rule-rows:last-child::after {
            content: none;
        }
    }
    .people_finder_header {
        display: flex;
        justify-content: space-between;
        div:first-child {
            width: 100%;
        }
        h1 {
            font-size: 22px;
            color: #B0B0B0;
            font-style: normal;
            font-weight: normal;
        }
    }
    .visible_info_desc {
        display: none;
    }
    .people_finder_buttons {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        div:first-child {
            text-align: right;
        }

        div:last-child {
            text-align: left;
        }

        #people_finder_btn {
            background: #266494;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            font-size: 16px;
            color: #FFFFFF;
        }

        #reset_people_btn {
            font-size: 16px;
            line-height: 18px;
            color: #266494;
            border: none;
            span {
                text-decoration-line: underline;
            }
        }
    }

    #add_people_btn_disabled {
        background: #C4C4C4;
    }

    #add_people_btn_enabled {
        background: #266494;
    }
    #add_people_btn_enabled, #add_people_btn_disabled {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-size: 16px;
        border: none;
        color: #FFFFFF;
    }

    .delBtn {
        border: none;
        background-color: none;
        display: none;
        font-size: large;
        path {
            stroke: grey;
            fill:grey;
        }
    }

    .del_btn_right {
        position: absolute;
        right: 0;
        text-align: right;
    }

    .rule-rows:hover .delBtn, .header_container:hover .delBtn {
        display: inline;
    }

    .rule-rows:hover .display_dell_btn ,  .group-rows:hover > .display_dell_btn {
        display: none;
    }

    .collapses_visible {
        display: block;
        position: absolute;
        z-index: 2;
        background: #fff;
        width: 100%;
        font-size: 20px;
        height: 40px;
        bottom: 0;
        left: 0;
        text-align: center;
        transition: 0.3s linear;
        &:hover {
            transform: scale(1.1);;
            transition: 0.3s linear;
        }
        i {
            transform: rotate(90deg);
            margin: 10px;
        }
    }

    .collapses_hidden {
        display: none;
    }

    .label_select {
        span {
            color: #777;
            top: 15px;
            position: relative;
            font-weight: 600;
            font-size: 12px;
        }
    }

    .employees-table .ant-table-body {
        overflow-x: auto !important;
    }
}

.left_col_skill_info {
    font-size: 12px;
    font-weight: bold;
}

.default_main_container {
    max-height: 250px;
    min-height: auto;
    overflow: hidden;
    transition: 0.3s ease-out;
    position: relative;
    margin-bottom: 20px;
}

.classNameOfCell {
    padding: 0 !important;
}

.employees-table{
    .ant-table-tbody {
        background-color: #fff;
    }
}

@media (max-width: 800px) {
    .main_container_people_finder .ant-form-horizontal .ant-row.rule-rows {
        flex-direction: column;
        div[class*="ant-col-"] {
            width: 100%;
            margin-bottom: 10px;
        }
        .del_btn_right {
            left: 10px;
        }
    }
    .header_container {
        display: flex;
        flex-direction: column;
        div[class*=ant-col-]:not(.del_btn_right) {
            width: 100%;
            margin-bottom: 5px;
        }
    }
}