@import '../variables.scss';

.main_container_search {
    min-height: calc(100vh - 70vh);
    max-height: calc(100vh - 100px);
    padding: 15px 30px;
    background: $sm-light-color;
    overflow: auto;
    box-shadow: 0px 4px 4px $sm-shadow-search;
    transition: 0.3s ease-out;
    position: relative;
    margin-bottom: 20px;
    &+ .ant-empty-normal {
        background: #fff;
        padding: 10%;
    }
    button:not(.delBtn):not(#search_btn) {
        width: 100%;
    }
    .ant-form-item-control {
        line-height: 1.5;
    }
    .header_container {
        margin-bottom: 10px;
        div[class*="ant-col-"]:not(.del_btn_right) {
            margin-right: 10px;
        }
    }
    .ant-form-horizontal {
        padding: 10px;
        border: 1px solid $sm-shadow-rows;
        border-radius: 10px;
        .ant-row.rule-rows {
            background: $sm-light-color;
            border-radius: 5px;
            padding: 8px 20px 8px 0px;
            margin-left: 40px;
            margin-right: -5px;
            margin-bottom: 10px;
            box-shadow: 0px 0px 2px 0px $sm-shadow-rows;
            display: flex;
            position: relative;
            margin-top: 8px;
            div[class*="ant-col-"] {
                padding: 0 8px;
            }

            &::before, &::after {
                content: "";
                position: absolute;
                left: -10px;
                width: 10px;
                border-color: $sm-primary-color;
                border-style: solid;
                box-sizing: border-box;
                border-width: 0 0 2px 2px;
            }
        }
        .ant-row.group-rows {
            padding: 8px 20px 8px 0px;
            margin-left: 40px;
            background: $sm-light-color;
            box-shadow: 0px 0px 2px 0px $sm-shadow-rows;
            border-radius: 5px;
            margin-bottom: 10px;
            .header_container {
                padding-left: 8px;
            }
            .ant-row.rule-rows {
                margin-left: 40px;
            }

            &::before, &::after {
                content: "";
                position: absolute;
                left: -10px;
                width: 10px;
                border-color: $sm-primary-color;
                border-style: solid;
                box-sizing: border-box;
                border-width: 0 0 2px 2px;
            }
        }

        .group-rows:before {
            display: flex;
            top: -10px;
            height: calc(50% + 10px);
        }

        .rule-rows:before {
            display: flex;
            top: -19px;
            height: calc(50% + 19px);
        }

        .ant-row > .rule-rows::after, .group-rows::after {
            display: flex;
            top: 50%;
            border-width: 0 0 0 2px !important;
            height: calc(50% + 8px);
        }

        .ant-form-item-children .group--children > .group-rows:last-child::before,
        .ant-form-item-children .group--children > .rule-rows:last-child::before {
            border-radius: 0 0 0 5px;
        }

        .ant-form-item-children .group--children > .group-rows:last-child::after,
        .ant-form-item-children .group--children > .rule-rows:last-child::after {
            content: none;
        }
    }
    .search_header {
        display: flex;
        justify-content: space-between;
        div:first-child {
            width: 100%;
        }
        h1 {
            font-size: 22px;
            color: $sm-subheading-color;
            font-style: normal;
            font-weight: normal;
        }
    }
    .visible_info_desc {
        display: none;
    }
    .search_buttons {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        div:first-child {
            text-align: right;
        }

        div:last-child {
            text-align: left;
        }

        #search_btn {
            background: $sm-primary-color;
            box-shadow: 0px 4px 4px $sm-shadow;
            border-radius: 10px;
            font-size: 16px;
            color: $sm-light-color;
        }

        #reset_people_btn {
            font-size: 16px;
            line-height: 18px;
            color: $sm-primary-color;
            border: none;
            span {
                text-decoration-line: underline;
            }
        }
    }

    .delBtn {
        border: none;
        background-color: transparent;
        display: none;
        font-size: large;
        path {
            stroke: $sm-search-select-color;
            fill:$sm-search-select-color;
        }
    }

    .del_btn_right {
        position: absolute;
        right: 0;
        text-align: right;
    }

    .rule-rows:hover .delBtn, .header_container:hover .delBtn {
        display: inline;
    }

    .rule-rows:hover .display_dell_btn ,  .group-rows:hover > .display_dell_btn {
        display: none;
    }

    .collapses_visible {
        display: block;
        position: absolute;
        z-index: 2;
        background: $sm-light-color;
        width: 100%;
        font-size: 20px;
        height: 40px;
        bottom: 0;
        left: 0;
        text-align: center;
        transition: 0.3s linear;
        &:hover {
            transform: scale(1.1);;
            transition: 0.3s linear;
        }
        i {
            transform: rotate(90deg);
            margin: 10px;
        }
    }

    .collapses_hidden {
        display: none;
    }

    .label_select {
        span {
            color: $sm-search-select-color;
            top: 15px;
            position: relative;
            font-weight: 600;
            font-size: 12px;
        }
    }

    .employees-table .ant-table-body {
        overflow-x: auto !important;
    }
}

.left_col_skill_info {
    font-size: 12px;
    font-weight: bold;
}

.default_main_container {
    max-height: 250px;
    min-height: 245px;
    overflow: hidden;
    transition: 0.3s ease-out;
    position: relative;
    margin-bottom: 20px;
    .ant-form-horizontal {
        height: 130px;
        .ant-row.rule-rows {
            margin-bottom: 80px;
            &::after {
                display: none;
            }
        }
    }
}

.classNameOfCell, .classNameOfCellMany {
    padding: 0 !important;
}

.classNameOfCellMany, .classNameOfColumnMany  {
    width: 300px;
}

.classNameOfCellMany, .classNameOfColumnMany, .classNameOfCell, .classNameOfColumn {
    min-width: 300px;
}

.employees-table {
    .ant-table-tbody {
        background-color: $sm-light-color;
    }
}

@media (max-width: 800px) {
    .main_container_search .ant-form-horizontal .ant-row.rule-rows {
        flex-direction: column;
        div[class*="ant-col-"] {
            width: 100%;
            margin-bottom: 10px;
        }
        .del_btn_right {
            left: 10px;
        }
    }
    .header_container {
        display: flex;
        flex-direction: column;
        div[class*=ant-col-]:not(.del_btn_right) {
            width: 100%;
            margin-bottom: 5px;
        }
    }
}