@import '../variables';

.sm-component-skill {
    min-width: 550px;
}
.skills-table-header {

    .sm-button {
        cursor: auto;
        opacity: 1;
    }
}

.table-column-numbering {
    width: 5%;
}

.table-column-skill {
    width: 25%;
}

.table-column-category{
    width: 55%;
}

.table-column-action {
    width: 5%;
}

.table-column-skill, .table-column-category{
    text-align: center!important;
}

.sm-table-skill {
    display: inline-block;
    width: 100%;
}

.sm-icon-refresh-category {
    margin-top: 15%;
    margin-left: 25px;
}
