.skills-table-header {

    .sm-button {
        cursor: auto;
        opacity: 1;
    }
}

.refresh-btn {
    color: #266494;
    margin-right: 5px;
    cursor: pointer;
}
.refresh-btn:hover {
    color: #3A79AA;
}