.skills_add-skills-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
    margin-bottom: 20px;
}

.sm-select-skill > div {
    height: auto;
    & > div {
        padding: 5px 3px 5px 3px;
    }
}

.add-skill-container {
    display: flex;
}

.add-skill-form {
    width: 90%;
}
