.sm-criteria-bar {
    display: flex;
    // justify-content: center;
    padding-right: 10px;
    width: 100%;
}

.sm-criteria-bar-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10%;
    width: 100%;
    max-width: 200px;
}

.sm-table-icon {
    width: 25px!important;
    height: 25px;
}