@import '../variables';

.sm-criteria-bar {
    display: flex;
    padding-right: 10px;
    width: 100%;

    svg {
        color: $sm-primary-color-hover;
        margin-right: 10%;
    }
}

.sm-criteria-bar-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 200px;
}

.sm-table-icon {
    width: 25px!important;
    height: 25px;
}