.sm-tabs {
    .sm-tabs-header {
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: space-between;
        .sm-user {
            font-size: large;
            font-weight: $sm-subheading-font-weight;
            color: $sm-subheading-color;
        }
    }
    .sm-tabs_component-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: $sm-component-width;
        .sm-component {
            width: calc(50% - #{$sm-components-distance} / 2);
        }
    }
}

.skills-table-add-skill-button {
    /* TODO: Remove */
    cursor: not-allowed;
    margin-bottom: 10px;
    opacity: 0.5;
}


.sm-content{
    .ant-tabs-content{
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 40%;
        padding: 20px;
        text-align: center;
    }
}