@import '../variables.scss';

.sm-tabs {
    .sm-tabs-header {
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: space-between;
        .sm-user {
            font-size: large;
            font-weight: $sm-subheading-font-weight;
            color: $sm-subheading-color;
        }
    }
    .sm-tabs_component-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: $sm-component-width;
        .sm-component {
            width: calc(50% - #{$sm-components-distance} / 2);
        }
    }
}

.sm-title{
    font-size: large;
    font-weight: $sm-subheading-font-weight;
    color: $sm-primary-color-hover;
}

.sm-content {
    .sm-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        padding: 20px;
        text-align: center;
    }
}

.skills-table-add-skill-button {
    cursor: pointer;
    margin-bottom: 15px;
    background-color: #6692b3;
}

.sm-page-content {
    position: relative;
    .ant-tabs {
        position: inherit;
    }
}

.sm-about-main {
    background: $sm-light-color;
    padding: 20px;
    text-align: left;
    min-height: 79vh;
    & > div:last-child {
        padding-left: 40px;
    }
    .ant-spin-nested-loading {
        padding-top: 20px;
    }
    .sm-avatar {
        width: 200px !important;
        height: 200px !important;
        span > span {
            font-size: 1em;
        }
    }
    .sm-user-bar_name {
        display: none;
    }

}

@media all and (max-width: 856px) {
    .sm-user {
        .sm-user-bar_name {
            display: none;
        }
        .sm-avatar {
            width: 40px !important;
            height: 40px !important;
        }
    }
}

.sm-about-header {
    color: #295573b8;
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.sm-about-left {
    display: flex;
    align-items: center;
    text-align: center;
    color:#B0B0B0;
    font-size: 3em;
    padding-bottom: 10px;
}

.sm-about-header-name {
    text-align: left;
    color: #295573b8;
    font-size: 2em;
    border-bottom: 1px solid #eee;
    padding-top: 20px;
}

.sm-about-title {
    text-align: left;
    font-size: 2.2em;
    color:#B0B0B0;
    border-bottom: 1px solid #eee;
}

.sm-sub-title {
    text-align: left;
    font-size: 1.6em;
    color:#B0B0B0;
    width: 70%;
    border-bottom: 1px solid #eee;
}

.sm-about-row {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.sm-about-user {
    text-align: left;
    padding-top: 10px;
    span {
        font-weight: bold;
    }
}

.list-item {
    &:hover +.show-history{
        display: block;
    }
}

.show-history {
    display: none;
    text-align: left;
}

.sm-history-row {
    .ant-col:first-child {
        width: 90px;
    }

    .ant-col:last-child {
        padding-top: 5px;
    }

    .ant-timeline-item-tail {
        height: 100%;
    }

    &:last-child .ant-timeline-item-tail{
        display: none;
    }
}
.search-button {
    text-align: right !important;
    .ant-btn {
        border-color: $sm-primary-color;
        color: $sm-primary-color;
    }
    .ant-btn:hover {
        border-color: $sm-primary-color-hover;
        color: $sm-primary-color-hover;
    }
}

.sm-load-more {
    border-color: $sm-primary-color;
    color: $sm-primary-color;
    &:hover {
        border-color: $sm-primary-color-hover;
        color: $sm-primary-color-hover;
    }

    &:focus {
        outline: none;
        border-color: $sm-primary-color-hover !important;
        color: $sm-primary-color-hover;
    }
}

.sm-filter-history {
    .ant-input:hover {
        border-color: $sm-primary-color-hover !important;
    }
    .ant-input:focus {
        outline: none;
        border-color: $sm-primary-color-hover !important;
    }
}

.sm-hidden-field {
    opacity: 0;
    width: 0;
    border: none;
    transition:  1s ease-out;
    i {
        color: #fff;
    }
}

.sm-visible-field {
    opacity: 1;
    width: 100%;
    border: inherit;
    transition:  1s ease-in;
    i {
        color: rgba(0, 0, 0, 0.25);
        transition:  1.5s ease-in;
    }
}

.sm-load-more {
    text-align: center,
}

.spliter {
    min-width: 10px;
    display: inline-block;
}