.sm-form-footer {
    display: flex;
    justify-content: flex-end;
}

.sm-form-fields {
    .ant-form-item {
        overflow: hidden;
    }

    .ant-form-item-control {
        text-align: center;
    }
}

.sm-form-item-title {
    color: #266494;
    margin-bottom: 10px;
    margin-top: 20px;
}