@import '../variables';

.sm-upload {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.sm-upload-non-selected {
    border: 1px dashed #266494;
}

.sm-upload-selected {
    border: none;
    margin: 3px 0;
}

.sm-upload:hover {
    .sm-upload-icon {
        transition: background-color 1s;

        svg {
            transform: scale(1.08, 1.08);
            transition: transform 0.7s;
        }
    }
}

.sm-upload:focus {
    outline:none;
}

.sm-upload-selected:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);

    .sm-skill-icon-edit-selected {
        visibility: visible;
        color: $sm-primary-color-hover;
        position: absolute;
        top: -55px;
        right: 40px;
    }
}

.sm-upload-non-selected{
    .sm-upload-default-container {
        color: $sm-primary-color-hover;
        margin-top: 25px;

        span {
            color: $sm-primary-color-hover!important;
        }

        .sm-skill-icon-edit {
            visibility: visible;
            color: $sm-primary-color-hover;
            position: absolute;
            top: -55px;
            right: 40px;
        }
    }
}

.sm-upload-default-container:hover {
    svg {
        transform: scale(1.2, 1.2);
        transition: transform 1s;
    }

    .ant-upload-text {
        transform: scale(1.1, 1.1);
    }
}

.sm-upload-default-icon {
    width: 50px!important;
    height: 50px;
    stroke-width: 25px;
    stroke: #fff;
}

.sm-upload-icon {
    height: 50px;

    .icon-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: -13px;
        height: 30px;
    }

    svg:first-child {
        width: 100% !important;
        height: 50px;
        margin-top: 10px;
    }

    span {
        color: $sm-primary-color-hover!important;
    }
}
