@import '~antd/dist/antd.css';
@import "./assets/stylesheets/common.scss";
@import "./assets/stylesheets/components/SMLogo.scss";
@import "./assets/stylesheets/components/SMPageLoggedOut.scss";
@import "./assets/stylesheets/components/SMPageLoggedIn.scss";
@import "./assets/stylesheets/components/Home.scss";
@import "./assets/stylesheets/components/Employees.scss";
@import "./assets/stylesheets/components/Register.scss";
@import "./assets/stylesheets/components/Login.scss";
@import "./assets/stylesheets/components/SideMenu.scss";
@import "./assets/stylesheets/components/SMMenu.scss";
@import "./assets/stylesheets/components/NotFound.scss";
@import "./assets/stylesheets/components/HeaderBar.scss";
@import "./assets/stylesheets/components/SMDropdownMenu.scss";
@import "./assets/stylesheets/components/SMIconLink.scss";
@import "./assets/stylesheets/components/SVG.scss";
@import "./assets/stylesheets/components/Search.scss";
@import "./assets/stylesheets/components/SMUserBar.scss";
@import "./assets/stylesheets/components/SMSkillBar.scss";
@import "./assets/stylesheets/components/Skills.scss";
@import "./assets/stylesheets/components/SMEmployee.scss";
@import "./assets/stylesheets/components/ForgotPassword.scss";


body::-webkit-scrollbar  {
    display: none;
}

.sm-header-title {
    margin-left: 20px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
    user-select: none;
}

.sm-layout-container {
    height: 100vh;
    .sm-layout-container_header {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        background: white;
        padding: 0;
        z-index: 99;
        .layout-container_page-header {
            align-items: center;
            display: flex;
            border: none;
        }
        .sm-layout-container_header-bar {
            display: flex;
            width: 99%;
            padding: 0px 20px 0px 20px;

            justify-content: space-between;
        }
        .sm-layout-container_header-bar-col-1 {
            display: flex;
            border: none;
        }
        .sm-layout-container_header-bar-col-2 {
            align-items: center;
            display: flex;
            border: none;
        }
    }
}
