@import '~antd/dist/antd.css';
@import "./assets/css/Home.scss";
@import "./assets/css/SMPage.scss";
@import "./assets/css/Register.scss";
@import "./assets/css/Login.scss";
@import "./assets/css/SMSiderMenu.scss";
@import "./assets/css/SMMenu.scss";
@import "./assets/css/NotFound.scss";
@import "./assets/css/HeaderBar.scss";
@import "./assets/css/SMDropdownMenu.scss";
@import "./assets/css/SMIconLink.scss";
@import "./assets/css/Svg.scss";

.sm-header-title {
    margin-left: 20px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
}

.layout-container {
    .layout-container_header {
        display: flex;
        .layout-container_page-header {
            border: none;
        }
    }
}
