@import 'variables';

.sm-main-content {
    min-height: calc(100vh - #{$sm-header-height} - #{$sm-footer-height});
}

.sm-content {
    /* TODO */
}

.sm-button, .sm-button:active, .sm-button:focus {
    color: $sm-light-color;
    border-radius: $sm-border-radius;
    background-color: $sm-primary-color ;
    border-color: $sm-primary-color ;
    box-shadow: $sm-shadow;
    height: $sm-button-height;
    &:hover {
        color: $sm-light-color;
        background-color: $sm-primary-color-hover ;
        border-color: $sm-primary-color-hover ;
    }
    & span {
        font-size: medium;
    }
}

.sm-link, .sm-link:active, .sm-link:focus {
    color: $sm-primary-color;
    & > span  {
        font-size: medium;
        text-decoration-line: underline;
    }
    &:hover {
        color: $sm-primary-color-hover;
    }
}

.sm-table {
    table tr:hover td {
        cursor: pointer;
        transition: $sm-transition;
        background-color: $sm-table-row-color-hover !important;
    }
    tr > th {
        font-weight: $sm-subheading-font-weight;
    }
}

.sm-component {
    background-color: $sm-light-color;
    width: $sm-component-width;
    padding: $sm-component-padding;
    margin-bottom: $sm-components-distance;
    box-shadow: $sm-shadow;
}

.sm-spinner {
    /* TODO */
}

.sm-subheading {
    color: $sm-grey-color;
    font-weight: $sm-subheading-font-weight;
}

.sm-chart {
    margin: auto;
}

.sm-tag {
    margin-bottom: 4px;
    margin-top: 4px;
}

.sm-tabs {
    .ant-tabs-tab {
        color: $sm-grey-color;
        font-weight: 500;
        font-size: large;
    }
    .ant-tabs-tab:hover {
        color: $sm-grey-color;
    }

    .ant-tabs-ink-bar {
        background-color: $sm-primary-color;
        height: 4px;
    }
    .ant-tabs-ink-bar:hover {
        background-color: $sm-primary-color-hover;
    }
}

.sm-input {
    border-radius: $sm-border-radius;
    height: $sm-input-height;
    box-shadow: $sm-shadow;
    & > input {
        border-radius: $sm-border-radius;
        border: 0.5px solid $sm-grey-color; /* TODO */
        padding-left: 60px !important;
    }
    & > span {
        width: 36px;
        border-right: 2px solid $sm-grey-color;
    }
    & > input::placeholder {
        color: $sm-grey-color;
        font-size: larger;
    }
}


.sm-footer {
    height: $sm-footer-height;
    text-align: center;
    background: transparent;
}