@import 'variables';

.sm-main-content {
    min-height: calc(100vh - #{$sm-header-height} - #{$sm-footer-height});
}

.sm-content {
    /* TODO */
}

.sm-button, .sm-button:active, .sm-button:focus {
    color: $sm-light-color;
    border-radius: $sm-border-radius;
    background-color: $sm-primary-color ;
    border-color: $sm-primary-color ;
    box-shadow: $sm-shadow;
    height: $sm-button-height;
    &:hover {
        color: $sm-light-color;
        background-color: $sm-primary-color-hover ;
        border-color: $sm-primary-color-hover ;
    }
    & span {
        font-size: medium;
    }
}

.sm-link, .sm-link:active, .sm-link:focus {
    color: $sm-primary-color;
    & > span  {
        font-size: medium;
        text-decoration-line: underline;
    }
    &:hover {
        color: $sm-primary-color-hover;
    }
}

.sm-table {
    table tr:hover td {
        cursor: pointer;
        transition: $sm-transition;
        background-color: $sm-table-row-color-hover !important;
    }
    tr > th {
        font-weight: $sm-subheading-font-weight;
    }
}

.sm-component {
    background-color: $sm-light-color;
    width: $sm-component-width;
    padding: $sm-component-padding;
    margin-bottom: $sm-components-distance;
    box-shadow: $sm-shadow;
}

.sm-spin {
    /* TODO */
}

.sm-subheading {
    color: $sm-subheading-color;
    font-weight: $sm-subheading-font-weight;
    font-size: $sm-subheading-font-size;
    height: 40px;
}

.sm-chart {
    margin: auto;
}

.sm-tag {
    margin-bottom: 4px;
    margin-top: 4px;
}

.sm-tabs {
    .ant-tabs-tab {
        color: $sm-subheading-color;
        font-weight: 500;
        font-size: large;
    }
    .ant-tabs-tab:hover {
        color: $sm-subheading-color;
    }
    .ant-tabs-ink-bar {
        background-color: $sm-primary-color;
        height: 4px;
    }
    .ant-tabs-ink-bar:hover {
        background-color: $sm-primary-color-hover;
    }
}

.sm-footer {
    height: $sm-footer-height;
    text-align: center;
    background: transparent;
}

.sm-input {
    border-radius: $sm-border-radius;
    height: $sm-input-height;
    box-shadow: $sm-shadow;
    & > input {
        padding-left: 60px !important;
    }
    & > span {
        width: 36px;
        border-right: 2px solid $sm-grey-color;
    }
    & > input::placeholder {
        color: $sm-grey-color;
        font-size: larger;
    }
}

.sm-select > div {
    border-radius: $sm-border-radius;
    height: $sm-input-height;
    box-shadow: $sm-shadow;
    & > div > div {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -10px;
        line-height: 20px;
    }
    & > div {
        height: 100%;
    }
}

.sm-date-picker {
    border-radius: $sm-border-radius;
    height: $sm-input-height;
    box-shadow: $sm-shadow;
    width: 100%;
    & > div > input {
        height: 100%;
    }
    & > div {
        height: 100%;
    }
}

.sm-form {
    margin-top: 10%;
}

.sm-alert {
    border-radius: $sm-border-radius;
    height: $sm-input-height;
    margin-top: 10%;
}



.sm-icon-light {
    path {
        fill: none;
    }
    width: 24px !important;
    height: 24px !important;
    stroke: $sm-light-color;
    stroke-width: 20;
}

.sm-icon-grey {
    path {
        fill: none;
    }
    width: 24px !important;
    height: 24px;
    stroke: $sm-grey-color;
    stroke-width: 30;
}

.sm-icon-fill-grey {
    width: 20px !important;
    height: 20px;
    color: $sm-grey-color;
}

.sm-icon-fill-light {
    width: 20px !important;
    height: 20px;
    color: $sm-light-color;
}



.sm-sider > div {
    background-color: $sm-primary-color;
}
