

$sm-primary-color: #266494;
$sm-primary-color-hover: #3A79AA;

$sm-button-height: 40px;
$sm-border-radius: 5px;
$sm-light-color: white;


$sm-subheading-color: #B0B0B0;
$sm-subheading-font-weight: bold;

$sm-component-width: 99%;
$sm-component-padding: 20px;
$sm-components-distance: 20px;


$sm-transition: all 0.5s;
$sm-nav-bar-height: 64px;

$sm-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$sm-table-row-color-hover: rgba(58, 121, 170, 0.1);